.post
{
	border-style: solid;
	border-color: black;
	border-width: 5px;
	background-color: white;
	align-content: center;
	margin-left: 150px;
	margin-right: 150px;
}

#post_title
{
	text-align: center;
	border-style: solid;
	border-color: red;
	border-radius: 10px;
	margin-left: 250px;
	margin-right: 250px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#top_post_title
{
	text-align: center;
	border-style: solid;
	border-color: red;
	border-radius: 10px;
}

#top_post_message
{
	border-bottom: solid 5px black;
	font-family: monospace;
	font-weight: bold;
	padding-bottom: 10px;
	padding-left: 10px;
	border-left: solid 5px black;
	background-color: grey;
}

#likes
{
	text-align: center;
}

#like_button
{
	text-align: center;
}

#emoji_button
{
	transition-duration: 0.4s;
	text-align: center;
	border-style: none;
	background-color: transparent;
	font-size: 30px;
}
#emoji_button:hover
{
	border-style: solid;
	border-color: yellow;
	border-radius: 20px;
	background-color: white;
	font-size: 40px;
}

.post_message
{
	font-weight: bold;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

.post_user
{
	padding-left: 65px;
}

#welcome_msg
{
	text-align: center;
	font-family: monospace;
	font-size: 16px;
	font-weight: bold;
	border-style: solid;
	border-radius: 20px;
	border-color: black;
	margin-right: 250px;
	margin-left: 250px;
	background-color: ghostwhite;
}

body
{
	background-color: lightblue;
	text-align: center;
}

h1
{
	background-color: whitesmoke;
	text-align: center;
	border-style: groove;
	border-color: darkred;
}

h2
{
	text-align: center;
	border-style: solid;
	border-top-style: none;
	border-color: black;
	border-width: 5px;
	border-radius: 5px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: -5px;
}

.posting_form
{
	margin-left: 350px;
	margin-right: 350px;
	text-align: center;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	border-width: 5px;
	background-color: white;
	
}

.new_post_label
{
	text-align: center;
	font-family: monospace;
	font-size: 16px;
	font-weight: bold;
	border-style: solid;
	border-radius: 3px;
	border-color: black;
	border-width: 2px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: ghostwhite;
}

.new_post_title
{
	border-style: solid;
	border-color: black;
	font-size: 20px;
	font-family: monospace;
	font-weight: bold;
}
.new_post_text
{
	border-style: solid;
	border-color: black;
	font-family: monospace;
	font-size: 16px;
	font-weight: bold;
}

.post_button
{
	border-style: solid;
	border-radius: 10px;
	border-color: black;
	border-width: 5px;
	background-color: lightblue;
	transition-duration: 0.4s;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 30px;
	padding-left: 30px;
}
.post_button:hover
{
	border-color: yellow;
	font-size: 26px;
	padding-left: 60px;
	padding-right: 60px;
}
.post_button:active
{
	background-color: yellow;
	content: '>>';
}

.input-box
{
	word-wrap: break-word;
	word-break: break-word;
}

.post_image
{
	padding-left: 20px;
}

.dev_news
{
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	border-width: 5px;
	width: 15%;
	background-color: white;
	float:left;
	margin:auto;
	padding-left: 50px;
	padding-right: 50px;
}

.top3
{
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	border-width: 5px;
	background-color: white;
	width: 15%;
	float:right;
	margin:auto;
	padding-left: 50px;
	padding-right: 50px;
}

.home_group
{
	border-style: solid;
	border-width: 10px;
	text-align: center;
	display: inline-block;
	float:left;
}

footer
{
}



.dev_news_message
{
	font-family: monospace;
	font-size: 16px;
	font-weight: bold;
}
